<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ $1 [L,R=301]

    # Explicitly handle Super Admin
    RewriteRule ^super-admin/?$ index.php [L]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_php.c>
    php_value upload_max_filesize 20M
    php_value post_max_size 25M
    php_value max_execution_time 120
    php_value memory_limit 256M
</IfModule>

<IfModule php_module>
    php_value upload_max_filesize 20M
    php_value post_max_size 25M
    php_value max_execution_time 120
    php_value memory_limit 256M
</IfModule>
